@import "/src/styles/mixin.scss";
@import "/src/styles/variables.scss";

.wrapper {
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  gap: 1rem;

  color: $fourth-color;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/images/itinerary/hotel-bg.webp");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  @include pending;

  &:hover {
    .remove-btn {
      display: flex;
      @include absolute-center;
    }
  }
}

.blank {
  height: 100px;
}

.info {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .title {
    p:nth-child(1) {
      font-size: 2rem;
      font-weight: 700;
      font-family: $heading-font;

      @include breakpoint-sm {
        font-size: clamp(1.25rem, 5vw, 2rem);
      }
    }
  }

  .booking-ref {
    padding: 0.5rem 1rem;

    background-color: $primary-color;
    border-radius: 5px;
  }
}

.price {
  width: 150px;

  text-align: right;

  p:nth-child(1) {
    font-weight: 700;
    font-size: 1.5rem;
  }

  p:nth-child(2) {
    opacity: 0.5;
  }
}

@include remove-btn("30px", "30px") {
  position: absolute;
  top: -1rem;
  right: -0.75rem;
}
