@mixin gradient-bg {
  background: linear-gradient(
    147deg,
    rgba(206, 51, 117, 1) 19%,
    rgba(26, 80, 145, 1) 71%,
    rgba(86, 203, 179, 1) 100%
  );

  background-size: 400% 400%;
  background-position: 100% 0;
}

@mixin gradient-moving-bg {
  @include gradient-bg;

  animation: moving-gradient 15s ease-in-out infinite;

  @keyframes moving-gradient {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 100% 0;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 0 100%;
    }

    100% {
      background-position: 0 0;
    }
  }
}

@mixin gradient-text {
  @include gradient-moving-bg;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin absolute-center {
  justify-content: center;
  align-items: center;
}

@mixin column-width {
  .col-12 {
    width: 100%;
  }

  .col-8 {
    width: 66.66%;
    @include breakpoint-sm {
      width: 100%;
    }
  }

  .col-6 {
    width: 50%;
    @include breakpoint-sm {
      width: 100%;
    }
  }

  .col-4 {
    width: 33.33%;
    @include breakpoint-sm {
      width: 100%;
    }
  }

  .col-3 {
    width: 25%;
    @include breakpoint-sm {
      width: 100%;
    }
  }

  .col-2 {
    width: 16.66%;
    @include breakpoint-sm {
      width: 100%;
    }
  }
}

@mixin bg-color($type, $color) {
  .bg-color-#{$type} {
    background-color: $color;
  }
}

@mixin text-color($type, $color) {
  .text-color-#{$type} {
    color: $color;
  }
}

@mixin border-color($type, $color) {
  .border-color-#{$type} {
    border-color: $color;
  }
}

@mixin form-question {
  .form-question {
    text-transform: uppercase;
    font-weight: 700;

    & > span {
      @include gradient-text;
    }
  }
}

@mixin row {
  .row {
    width: 100%;
    display: flex;
    gap: 1rem;

    @include breakpoint-sm {
      flex-direction: column;
    }
  }
}

@mixin ellipse-text {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

@mixin hide-horizonatal-scrollbar {
  &::-webkit-scrollbar {
    height: 0px;
    background: transparent;
  }
}

@mixin pending {
  transition: opacity 0.5s;

  &.is-pending {
    opacity: 0.3;
  }
}

@mixin horizontal-scrollbar-control {
  .scroll-right-btn,
  .scroll-left-btn {
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    position: sticky;
    top: 50%;

    display: flex;
    flex-direction: column;
    @include absolute-center;

    border-radius: 50%;
    border: 3px solid $third-color;
    color: $third-color;
    background-color: rgba(26, 80, 145, 0.5);
    backdrop-filter: blur(10px);

    opacity: 0;
    transition: scale 0.5s, opacity 0.5s;
    transform: translateY(-50%);
    z-index: 5;

    &:hover {
      scale: 1.2;
    }

    &:active {
      color: $secondary-color;
      background-color: $third-color;
    }
  }

  .scroll-right-btn {
    right: 20px;
  }

  .scroll-left-btn {
    left: 20px;
  }
}

@mixin remove-btn($width, $height) {
  .remove-btn {
    width: #{$width};
    height: #{$height};

    display: none;

    background-color: rgba(206, 51, 117, 0.5);
    backdrop-filter: blur(10px);
    transition: background-color 0.5s;

    @content;

    &:hover {
      background-color: rgba(206, 51, 117, 1);
    }
  }
}

@mixin breakpoint($max-width) {
  @media screen and (max-width: #{$max-width}px) {
    @content;
  }
}

@mixin breakpoint-sm {
  @include breakpoint(576) {
    @content;
  }
}

@mixin breakpoint-md {
  @include breakpoint(768) {
    @content;
  }
}
