$primary-color: rgba(206, 51, 117, 1);
$secondary-color: rgba(26, 80, 145, 1);
$third-color: rgba(86, 203, 179, 1);
// $fourth-color: rgba(248, 248, 248, 1);
$fourth-color: white;

$heading-font: "Archivo Black", sans-serif;
$body-font: "Nunito", sans-serif;
