@import "/src/styles/mixin.scss";
@import "/src/styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  div {
    width: 30px;
    height: 30px;

    display: flex;
    @include absolute-center;

    color: $fourth-color;
    background-color: $secondary-color;
    border-radius: 50%;
  }

  p {
    @include gradient-text;
    font-family: $heading-font;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}

.subtotal {
  padding: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  text-align: right;
  font-weight: 700;

  p:nth-child(1) {
    padding: 0.25rem 0.5rem;

    border-radius: 0.5rem;
    background-color: $primary-color;
    color: $fourth-color;
    font-weight: 700;
    text-transform: uppercase;
  }

  p:nth-child(2) {
    color: $primary-color;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}
