@import "/src/styles/mixin.scss";
@import "/src/styles/variables.scss";

@include column-width;
@include form-question;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blank {
  height: 100%;
}

.total {
  height: 30px;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include gradient-bg;
  color: $fourth-color;
  border-radius: 1rem;

  p {
    font-size: 1.25rem;
    font-family: $heading-font;
  }
}
