@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";

.wrapper {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  position: relative;
  display: flex;

  @include breakpoint-md {
    flex-direction: column;
  }
}
