@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";

.wrapper {
  width: 30%;
  height: 500px;
  position: relative;

  @include breakpoint-md {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .country-card {
    width: 300px;
    height: 500px;
    padding: 1rem;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

    @include breakpoint-md {
      width: 80%;
      height: 100px;
      padding: 0;

      justify-content: center;
    }

    &:nth-child(1) {
      transform: rotate(15deg);
      z-index: 3;

      .placeholder {
        width: 100%;
        height: 75%;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        @include absolute-center;

        border-radius: 1rem;
        background-color: white;

        overflow: hidden;

        @include breakpoint-md {
          height: 100%;
        }

        .loader-container {
          width: 75px;
          height: 75px;

          display: flex;
          @include absolute-center;

          background-color: rgba(206, 51, 117, 0.5);
          backdrop-filter: blur(10px);
          border-radius: 1rem;

          z-index: 201;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          object-fit: cover;
          filter: invert(0.5);
          opacity: 0.5;
        }
      }
    }

    &:nth-child(2) {
      transform: rotate(-5deg);
      z-index: 2;

      @include breakpoint-md {
        transform: rotate(5deg);
      }
    }

    &:nth-child(3) {
      transform: rotate(-20deg);
      z-index: 1;

      @include breakpoint-md {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 75%;

      object-fit: cover;
      border-radius: 1rem;

      @include breakpoint-md {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        filter: brightness(0.7);
      }
    }

    p {
      align-self: flex-start;

      @include gradient-text;
      font-family: $heading-font;
      font-size: 1.75rem;

      @include breakpoint-md {
        align-self: auto;

        font-size: 1.25rem;
        text-align: center;
        background: white;
        background-clip: text;
        z-index: 1;
      }
    }
  }
}
