@import "/src/styles/mixin.scss";
@import "/src/styles/variables.scss";

@include row;
@include form-question;
@include column-width;

.form-content {
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  .add-btn {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: $primary-color;
    color: $fourth-color;
  }

  .selected-cities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;

    button {
      width: 100px;
      height: auto;
      max-height: 125px;
      padding: 1rem;
      margin: 0 auto;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      background-color: transparent;

      &:hover {
        .delete {
          display: block;
          position: absolute;
          top: 30px;

          font-size: 1.5rem;
          color: $fourth-color;

          z-index: 1;
        }

        img {
          filter: brightness(0.5);
        }
      }
    }

    img {
      width: 50px;
      height: 50px;

      object-fit: cover;

      border-radius: 50%;
    }

    p {
      width: 100%;
      text-transform: capitalize;

      @include ellipse-text;
    }

    .delete {
      display: none;
    }
  }
}

.btn-group {
  width: 100%;
  height: 50px;
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    width: 50px;
    height: 50px;
  }
}
