@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";

.wrapper {
  height: 50px;
  position: relative;

  @include gradient-bg;
  color: $fourth-color;
  border-radius: 25px;
  font-weight: 700;
}
