@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";

.remove-btn {
  border-radius: 50%;
  color: $fourth-color;
  background-color: $primary-color;

  &:active {
    background-color: $third-color;
  }
}
