@import "../../../../styles/mixin.scss";
@import "../../../../styles/variables.scss";
@include column-width;
@include form-question;

.wrapper {
  width: 600px;
  min-height: 100%;
  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow: auto;

  @include breakpoint-md {
    width: 80vw;
  }
}

@include row;
.row {
  align-items: center;
}

.label-time {
  text-align: right;

  @include breakpoint-sm {
    text-align: left;
  }
}
